---
layout: layouts/blog.html
title: Blog Page
---

<h1>Blog</h1>

<ul>
  {% for post in collections.posts %}
    <li><a href="{{post.url}}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul>

<ul>
  {% for jour in collections.journal %}
    <li><a href="{{jour.url}}">{{ jour.data.title }}</a></li>
  {% endfor %}
</ul>