<!DOCTYPE html>
<html lang="en">
<head>
  {% include "basehead.html" %}
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <nav>
      <a href="/">{{ author }}</a>
      <a href="mailto:bonjour@aliceneron.eu">Contact</a>
      <!-- <a href="/friends">amix</a> -->
    </nav>
  </header>
  {% block content %}
    {{ content | safe }}
  {% endblock %}


</body>
</html>