---
author: "alice néron"
---

{% extends "layouts/base.html" %}


{% block head %}
  <link rel="stylesheet" href="/css/journal.css" />
{% endblock %}
<body>
  <header>
    <nav>
      <a>{{ author }}</a>
      <a href="/contact">Contact</a>
      <a href="/friends">amix</a>
    </nav>
  </header>
<main>
  {% block content %}

  
  <article class="post__content">
    <div class="titre">
    <h2>{{ date }}</h2>
    <h1>{{ title }}</h1>
  
    </div>
  
 
<div class="content">


    {{ content | safe }}

</div>


  </article>

{% endblock %}
</main>

<script> document.querySelectorAll('h1').style.backgroundColor = "red"; </script>