---
author: "alice néron"
---

{% extends "layouts/base.html" %}


{% block head %}
  <link rel="stylesheet" href="/css/post.css" />
{% endblock %}
<body>
  <header>
    <nav>
      <a>{{ author }}</a>
      <a href="/contact">Contact</a>
      <a href="/friends">amix</a>
    </nav>
  </header>
{% block content %}
<main>

  <!-- <section class="news">
    <h1>Quoi de neuf</h1>
    <div class="home-card__container">
      {% for card in cards %}
      {% Card title=card.title, date=card.date, place=card.place, paragraphe=card.paragraphe, raised=card.raised %}
      {% endfor %}
    </div>
  </section> -->
  
  <article class="post__content">
    <div class="titre">
    <h1>{{ title }}</h1>
    <!-- <span class="close">+</span> -->
    <ul>
      
      {% for tag in tags %}
        <li>
          <a href="/blog/tag/{{ tag | slugify }}">{{tag}}</a>
        </li>
      {% endfor %}
    </ul>
   
    </div>
    <section class="portfolio">
   
   
 
<div class="content">
  <h2 class="time"><a href="{{ link }}">{{ date }}</a></h2>


    {{ content | safe }}

</div>

<!-- javascript pour les images -->
</section>
  </article>

{% endblock %}
</main>