@import url('./reset.css');
@import url('./components/index.css');


@font-face {
  font-family: "euroscript-regular";
  src: url(fonts/EuroScript_Regular.ttf);
}

@font-face {
  font-family: "dse";
  src: url(fonts/DSE_Typewriter_Bitmap_OldStyle.ttf);
}

:root {
  --color: purple;
  --yellow: yellow;
  --green: rgb(147 159 80);
  --pink: #ffd7d7;
  --grey: rgb(243, 243, 243);
  --rouge: #ff3030;
}

p {
  font-size: 1.2em;
}


::-webkit-scrollbar {
  width: 30px;
  height: 30px;
  background-color: purple;
}


::-webkit-scrollbar-thumb {
  background-color: var(--rouge);
}

::-webkit-scrollbar-thumb:hover {
cursor: grab;
}



header {
  border-bottom: solid 1px var(--color);
    grid-column: 1/14;
    grid-row: 1/2;  
  }
  

nav {
  display: flex;
  width: 100%;
  /* padding-block: 5px; */
}

nav a {
  display: flex;
  flex: fit-content;
  justify-content: center;
}


nav a:hover {
  text-transform: uppercase;}

footer {
  position: fixed;
  bottom: 0;
  /* background-color: var(--color); */
  width: 100%;
  z-index: 40;
  padding: 5px;
  color: var(--color);
  font-size: 1.2em;
  /* border-top: solid 1px var(--color); */
  justify-content: center;
  display: flex;
  font-family: "euroscript-regular";

background-size: 10px 10px;
background-image: repeating-linear-gradient(45deg, var(--pink) 0, var(--pink) 3px, var(--rouge) 0, var(--rouge) 50%);
}

footer:hover {
  display:none;
}

footer span {
  background: yellow;
  border-radius: 20px;
}


