---
layout: layouts/home.html
title: "✧☀ Bonjour ✹✧✎"
author: "alice néron"
---

<span id="wait">Dsl c'est pas encore prêt !!! Regarde sur un ordinateur ou attends un peu</span>

<main>
  <section class="bio">
    <h1>{{title}}</h1>
    <div class="presentation">
    <p>Je m'appelle alice, je fais du graphisme avec des
      outils libres, bricole des sites web, télécharge des livres pirates, écris des articles et organise des goûters.
    </p>
    <p>Je m'intéresse aux pratiques [artistiques] collectives, aux communs, aux espaces de mutualisation de savoirs, aux
      pédagogies radicales, à la propriété intellectuelle, à la culture libre et aux plats mijotés. </p>
    
      <p>Actuellement avec <a href="http://zeste.ee/">Zeste Le Reste</a> nous dessinons des moments de partage
      d'expériences, d'écriture de recettes et de cuisine collective.</p>

    <p>À côté, je participe à la recherche collective <a href="http://lesnouveauxhabitsducolportage.be"><em>Les nouveaux
          habits du colportage</em></a> sur les
      para-bibliothèques: esthétiques alternatives d'organisation, de
      diffusion et de production d'objets culturels.</p>
    </div>
  </section>

  <section class="projets">
    <h1>Projets</h1>
    <div class="home-projet__container">
      {% for projet in projets %}
      {% Projet date=projet.date, link=projet.link, image=projet.image, linkText=projet.linkText, place=projet.place, paragraphe=projet.paragraphe, raised=projet.raised %}
      {% endfor %}
    </div>

  </section>


  <section class="news">
    <h1>Quoi de neuf</h1>
    <div class="home-card__container">
      {% for card in cards %}
      {% Card title=card.title, date=card.date, place=card.place, paragraphe=card.paragraphe, raised=card.raised %}
      {% endfor %}
    </div>
  </section>

  <section class="friends">
    <h1>Friends</h1>
    <div class="home-friend__container">
      {% for friend in friends %}
      {% Friend title=friend.title, date=friend.date, place=friend.place, paragraphe=friend.paragraphe, raised=friend.raised %}
      {% endfor %}
    </div>
  </section>

  <section class="journal">
    <h1>Journal</h1>
      <ul>
        {% for jour in collections.journal %}
          <li>
          <span>{{ jour.data.date }}</span>
          <span><a href="{{jour.url}}">{{ jour.data.title }}</a></span>
        </li>
        {% endfor %}
      </ul>
  </section>


</main>

<footer>
  <span>＜Σ三三三三三三三∃ site en cosntruction !!! website under construction !!! ━━━━━★. *･｡ﾟ✧⁺</span>
</footer>