---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: layouts/base.html
permalink: /blog/tag/{{tag | slugify }}/index.html
eleventyComputed:
  title: Posts Tagged with "{{ tag }}"
---

{% block head %}
  <link rel="stylesheet" href="/css/global.css" />
  {% endblock %}


<h1>Projets comportant aussi : {{ tag }}</h1>

{% for post in collections[tag] %}
  <li>
    <a href="{{post.url}}">{{post.data.title}}</a>
  </li>
{% endfor %}

<section class="news">
  <h1>Quoi de neuf</h1>
  <div class="home-card__container">
    {% for card in cards %}
    {% Card title=card.title, date=card.date, place=card.place, paragraphe=card.paragraphe, raised=card.raised %}
    {% endfor %}
  </div>
</section>